body {
	background-image: url(paintings/IMG_1238.JPG);
	/*background-size: 1200px 1000px;*/
	/*font-family: 'Roboto Slab', serif;*/
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'PT Serif', serif;
}

header {
	/*margin: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(255, 255, 255, 0.6);
	margin: 0px 150px 10px 150px;
	font-family: 'Poppins', sans-serif;
}

.index {
	min-width: 1100px;
}

header h1 {
	text-align: center;
	font-size: 2em;
}

img {
	max-width: 500px;
}

a:visited {
	color: green;
}

#about {
	margin-left: 150px;
	margin-right: 150px;
	background: rgba(255, 255, 255, 0.6);
}

#about p {
	padding: 10px;
}

#contact p {
	padding: 10px;
}

#contact {
	margin-left: 150px;
	margin-right: 150px;
	background: rgba(255, 255, 255, 0.6);
}

#table {
	margin-left: 25%;
}


table, td, tr, th {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}

table {
	min-width: 300px;
	max-width: 700px;
	width: 60%;
	background: rgba(255, 255, 255, 0.6);
	margin-bottom: 10px;
}

#facts {
	margin-left: 150px;
	margin-right: 150px;
	background: rgba(255, 255, 255, 0.6);
}

#facts h3, ul {
	padding-left: 20px;
}

#gallery {
	min-width: 1400px;
}

.wall {
	margin-left: 150px;
	margin-right: 150px;
	background: rgba(255, 255, 255, 0.6);
}

.odd {
	display: inline-block;
	margin: 10px 0px 10px 20px;
}

.oddtext {
	display: inline-block;
	vertical-align: top;
	margin-left: 200px;
	margin-top: 200px;
}

#even {
	display: inline-block;
	vertical-align: top;
	margin-top: 200px;
	margin-left: 100px;

}

#evenimage {
	display: inline-block;
	margin-left: 250px;
}

footer {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	background: rgba(255, 255, 255, 0.6);
	clear: right;
}

/*@media screen and (max-width: 500px) {
  img {
    width: 100px;
  }
  div {
  	width: 150px;
  }
}*/









