body {
	/*background-image: url(paintings/background\ copy2.jpeg);*/
	font-family: 'Raleway', sans-serif;
}

header {
	/*margin: 10px;*/
	padding-top: 20px;
	padding-bottom: 20px;
}

header h1 {
	text-align: center;
}

img {
	max-width: 500px;
}

a:visited {
	color: green;
}

#table {
	margin-left: 25%;
}


table, td, tr, th {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	font-family: monospace;
}

table {
	min-width: 300px;
	max-width: 700px;
	width: 60%;
}

#gallery {

}

.wall {
	margin-left: 50px;
	margin-top: 20px;
}

.odd {
	display:inline-block;
}

.oddtext {
	display:inline-block;
	vertical-align: top;
	margin-left: 200px;
	margin-top: 200px;
	padding-left: 50px;
}

#even {
	display:inline-block;
	vertical-align: top;
	margin-top: 200px;
	margin-left: 100px;

}

#evenimage {
	display:inline-block;
	margin-left: 300px;
}

footer {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}











